<div>
	@if (!productionStations$.isLoading()) {
		@if (productionStations$.hasValue()) {
			<!-- <h1 class="text-2xl font-bold mb-4">Catalogo de Estaciones de Producción</h1> -->
			<table-crud
				[data]="productionStations$.value()"
				[columns]="columns"
				(create)="createProductionStation()"
				(edit)="editProductionStation($event)"
				(delete)="deleteProductionStation($event)"
			></table-crud>
		}
	} @else {
		<div class="flex flex-col items-center justify-center p-20">
			<span class="dloading dloading-spinner dloading-lg"></span>
			<span class="text-lg font-semibold text-base-content">Cargando datos...</span>
		</div>
	}
</div>

<p-dialog
	[(visible)]="dialogVisible"
	[modal]="true"
	[style]="{ width: '600px' }"
	[header]="isEditMode ? 'Editar Estación de Producción' : 'Agregar Estación de Producción'"
	[draggable]="false"
	[resizable]="false"
	styleClass="p-fluid bg-surface-50 dark:bg-surface-900"
>
	<div [formGroup]="form" class="flex flex-col gap-4 mt-2">
		<div class="flex flex-col gap-2">
			<label for="id" class="font-medium text-surface-600 dark:text-surface-200">ID</label>
			<input pInputText id="id" type="text" formControlName="id" class="w-full bg-surface-100 dark:bg-surface-800" [readOnly]="true" />
		</div>

		<div class="flex flex-col gap-2">
			<label for="partNumberId" class="font-medium text-surface-600 dark:text-surface-200">Part Number</label>
			@if (partNumbers$.hasValue()) {
				<p-select
					id="partNumberId"
					formControlName="partNumberId"
					[options]="partNumbers$.value()"
					optionLabel="partNumberName"
					optionValue="id"
					placeholder="Seleccione un Part Number"
					[filter]="true"
					filterBy="partNumberName"
					class="w-full"
					appendTo="body"
				/>
			}
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col gap-2">
				<label for="lineId" class="font-medium text-surface-600 dark:text-surface-200">Línea</label>
				@if (lines$.hasValue()) {
					<p-select
						id="lineId"
						formControlName="lineId"
						[options]="lines$.value()"
						optionLabel="lineDescription"
						optionValue="id"
						placeholder="Seleccione una Línea"
						class="w-full"
						appendTo="body"
					/>
				}
			</div>

			<div class="flex flex-col gap-2">
				<label for="modelId" class="font-medium text-surface-600 dark:text-surface-200">Modelo</label>
				@if (models$.hasValue()) {
					<p-select
						id="modelId"
						formControlName="modelId"
						[options]="models$.value()"
						optionLabel="modelDescription"
						optionValue="id"
						placeholder="Seleccione un Modelo"
						class="w-full"
						appendTo="body"
					/>
				}
			</div>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col gap-2">
				<label for="objetiveTime" class="font-medium text-surface-600 dark:text-surface-200">Tiempo Objetivo</label>
				<p-inputNumber id="objetiveTime" formControlName="objetiveTime" class="w-full" inputId="objetiveTime" [min]="0" />
			</div>

			<div class="flex flex-col gap-2">
				<label for="netoTime" class="font-medium text-surface-600 dark:text-surface-200">Tiempo HP</label>
				<p-inputNumber id="netoTime" formControlName="netoTime" class="w-full" inputId="netoTime" [min]="0" />
			</div>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="flex flex-col gap-2">
				<label for="operatorQuantity" class="font-medium text-surface-600 dark:text-surface-200">Cantidad de Operadores</label>
				<p-inputNumber id="operatorQuantity" formControlName="operatorQuantity" class="w-full" inputId="operatorQuantity" [min]="0" />
			</div>

			<div class="flex flex-col gap-2">
				<label for="partNumberQuantity" class="font-medium text-surface-600 dark:text-surface-200">Cantidad de Partes</label>
				<p-inputNumber id="partNumberQuantity" formControlName="partNumberQuantity" class="w-full" inputId="partNumberQuantity" [min]="0" />
			</div>
		</div>

		<div class="flex flex-col gap-3 mt-2 bg-surface-50 dark:bg-surface-800 p-3 rounded-lg border border-surface-200 dark:border-surface-700">
			<div class="flex align-items-center justify-content-between">
				<label for="active" class="font-medium text-surface-700 dark:text-surface-100">Activo</label>
				<p-toggleSwitch inputId="active" formControlName="active"></p-toggleSwitch>
			</div>
		</div>
	</div>

	<ng-template pTemplate="footer">
		<div class="flex justify-end gap-2 mt-4">
			<p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary" (onClick)="closeModal()"></p-button>
			<p-button label="Guardar" icon="pi pi-check" severity="primary" (onClick)="save()" [disabled]="form.invalid"></p-button>
		</div>
	</ng-template>
</p-dialog>
