<div>
	@if (!lines$.isLoading()) {
		@if (lines$.hasValue()) {
			<table-crud
				[data]="lines$.value()"
				[columns]="columns"
				(create)="createLine()"
				(edit)="editLine($event)"
				(delete)="deleteLine($event)"
			></table-crud>
		}
	} @else {
		<div class="flex flex-col items-center justify-center h-full">
			<span class="loading loading-spinner loading-lg"></span>
			<span class="text-lg font-semibold text-base-content">Cargando datos...</span>
		</div>
	}
</div>

<dialog id="line_modal" class="dmodal">
	<div class="dmodal-box flex flex-col gap-4">
		<h3 class="font-bold text-lg">{{ isEditMode ? 'Editar Linea' : 'Agregar Nueva Linea' }}</h3>
		<div [formGroup]="form" class="flex flex-col gap-4">
			<div class="flex flex-row gap-4">
				<div class="flex flex-col w-1/2 gap-2">
					<label for="lineDescription">Nombre de la Linea</label>
					<input id="lineDescription" type="text" formControlName="lineDescription" class="dinput dinput-bordered w-full" />
				</div>
			</div>

			<div class="flex flex-col w-full gap-2">
				<label for="active" class="cursor-pointer label justify-start gap-4">
					<span class="label-text">Activo</span>
					<input id="active" type="checkbox" class="dtoggle" formControlName="active" />
				</label>
			</div>
		</div>
		<div class="dmodal-action">
			<form method="dialog">
				<button (click)="closeModal()" class="dbtn dbtn-ghost">Cancelar</button>
			</form>
			<button (click)="save()" class="dbtn dbtn-primary">Guardar</button>
		</div>
	</div>
</dialog>

