<div class="text-center p-8">
  <h1 class="text-8xl font-bold text-sky-500">403</h1>
  <h2 class="mt-4 text-4xl font-semibold text-gray-800 dark:text-gray-200">Acceso Denegado</h2>
  <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">
    Lo sentimos, no tienes los permisos necesarios para acceder a esta página.
  </p>
  <a routerLink="/"
    class="mt-8 inline-block rounded-md bg-blue-600 px-6 py-3 text-lg font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
    Volver al Inicio
  </a>
</div>