<div class="flex flex-col p-4 items-start justify-center h-full">
  <h1 class="text-4xl font-bold text-slate-800 dark:text-slate-100 mb-4">
    Bienvenido a <span class="text-sky-500">UNIPRES WEB</span>
  </h1>
  <p class="text-lg text-gray-600 dark:text-slate-200">Tu sistema de gestión integral.</p>
  <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
    <div class="bg-slate-100 p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-gray-700 mb-2">Producción</h2>
      <p class="text-gray-600">Gestiona y monitorea tus procesos de producción.</p>
      <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Ver Producción</button>
    </div>
    <div class="bg-slate-100 p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-gray-700 mb-2">Inventario</h2>
      <p class="text-gray-600">Controla tu inventario en tiempo real.</p>
      <button class="mt-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">Ver Inventario</button>
    </div>
    <div class="bg-slate-100 p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-gray-700 mb-2">Reportes</h2>
      <p class="text-gray-600">Genera reportes detallados para análisis.</p>
      <button class="mt-4 px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600">Ver Reportes</button>
    </div>
  </div> -->
</div>
