<div>
	@if (!model$.isLoading()) {
		@if (model$.hasValue()) {
			<!-- <h1 class="text-2xl font-bold mb-4">Catalogo de Modelos</h1> -->
			<table-crud
				[data]="model$.value()"
				[columns]="columns"
				(create)="createModel()"
				(edit)="editModel($event)"
				(delete)="deleteModel($event)"
			></table-crud>
		}
	} @else {
		<div class="flex flex-col items-center justify-center p-20">
			<span class="loading loading-spinner loading-lg"></span>
			<span class="text-lg font-semibold text-base-content">Cargando datos...</span>
		</div>
	}
</div>

<p-dialog
	[header]="isEditMode ? 'Editar Modelo' : 'Agregar Nuevo Modelo'"
	[visible]="visible()"
	(visibleChange)="visible.set($event)"
	[modal]="true"
	[style]="{ width: '450px' }"
	[breakpoints]="{ '575px': '90vw' }"
>
	<div [formGroup]="form" class="flex flex-col gap-6 py-6">
		<div class="flex flex-col gap-2">
			<label for="modelDescription" class="font-bold text-sm text-slate-600 dark:text-slate-400">Descripción del Modelo</label>
			<input pInputText id="modelDescription" type="text" formControlName="modelDescription" class="w-full" />
		</div>

		<div class="flex items-center gap-4 mt-2">
			<p-toggleSwitch id="active" formControlName="active" inputId="active" />
			<label for="active" class="font-bold text-sm text-slate-600 dark:text-slate-200 cursor-pointer">Estado Activo</label>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<div class="flex justify-end gap-3">
			<button (click)="closeModal()" class="dbtn dbtn-ghost">Cancelar</button>
			<button (click)="save()" class="dbtn dbtn-primary px-8">Guardar</button>
		</div>
	</ng-template>
</p-dialog>
