<div class="p-4 w-ful bg-base-200 border border-base-300 rounded-lg animate-fade-in-up">
	<div class="flex justify-between items-center mb-4">
		<input
			type="text"
			placeholder="Buscar en la tabla..."
			[(ngModel)]="filterValue"
			(input)="applyFilter()"
			class="dinput dinput-bordered dinput-sm w-full max-w-xs"
		/>
		<div class="flex gap-2">
			<button (click)="exportToCsv()" class="dbtn dbtn-secondary dbtn-outline dbtn-sm">Exportar a CSV</button>
			<button (click)="createNew()" class="dbtn dbtn-secondary dbtn-sm text-white"><span class="material-symbols-outlined" style="font-size: 1rem">add</span>Crear Nuevo</button>
		</div>
	</div>

	<div class="overflow-x-auto">
		<table class="dtable dtable-zebra">
			<thead>
				<tr>
					@for (col of columns(); track $index) {
						<th class="max-w-[150px]">
							<div class="flex items-center gap-2">
								<span class="truncate" [title]="col.label">{{ col.label }}</span>
								@if (col.sortable !== false) {
									<button (click)="onSort(col.key)" class="dbtn dbtn-ghost dbtn-xs">
										@if (sortColumn === col.key) {
											<span class="material-symbols-outlined" style="font-size: large">{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</span>
										} @else {
											<span class="material-symbols-outlined" style="font-size: large">swap_vert</span>
										}
									</button>
								}
							</div>
							<div class="mt-1">
								@switch (col.dataType) {
									@case ('boolean') {
										<select [(ngModel)]="columnFilters[col.key]" (change)="updateData()" class="dselect dselect-bordered dselect-xs w-full">
											<option value="">Todos</option>
											<option value="true">Sí</option>
											<option value="false">No</option>
										</select>
									}
									@case ('date') {
										<input type="date" [(ngModel)]="columnFilters[col.key]" (input)="updateData()" class="dinput dinput-bordered dinput-xs w-full" />
									}
									@case ('number') {
										<input
											type="number"
											placeholder="Filtrar..."
											[(ngModel)]="columnFilters[col.key]"
											(input)="updateData()"
											class="dinput dinput-bordered dinput-xs w-full"
										/>
									}
									@default {
										<input
											type="text"
											placeholder="Filtrar..."
											[(ngModel)]="columnFilters[col.key]"
											(input)="updateData()"
											class="dinput dinput-bordered dinput-xs w-full"
										/>
									}
								}
							</div>
						</th>
					}
					<th class="text-right">Acciones</th>
				</tr>
			</thead>

			<tbody>
				@for (item of paginatedData; track $index) {
					<tr>
						@for (col of columns(); track col.key) {
							<td class="max-w-[150px] truncate" [title]="getValue(item, col.key)">
								@switch (col.dataType) {
									@case ('date') {
										{{ getValue(item, col.key) | date: 'dd/MM/yyyy HH:mm' }}
									}
									@case ('boolean') {
										@if (getValue(item, col.key)) {
											<span class="material-symbols-outlined text-success">check_circle</span>
										} @else {
											<span class="material-symbols-outlined text-error">cancel</span>
										}
									}
									@default {
										{{ getValue(item, col.key) }}
									}
								}
							</td>
						}
						<td class="text-right">
							<div class="flex justify-end gap-2">
								<button (click)="editRow(item)" class="dbtn dbtn-neutral dbtn-xs">Editar</button>
								<!-- <button (click)="deleteRow(item)" class="dbtn dbtn-error dbtn-xs">Eliminar</button> -->
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<!-- Paginación -->
	@if (filteredData.length > 0) {
		<div class="flex flex-col sm:flex-row justify-between items-center mt-4 gap-4 border-t border-base-300 pt-4">
			<!-- Información de resultados -->
			<div class="flex items-center gap-2 text-sm text-base-content/70">
				<span>Mostrando</span>
				<span class="font-bold text-base-content">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>
				<span>a</span>
				<span class="font-bold text-base-content">{{
					currentPage * itemsPerPage > filteredData.length ? filteredData.length : currentPage * itemsPerPage
				}}</span>
				<span>de</span>
				<span class="font-bold text-base-content">{{ filteredData.length }}</span>
				<span>resultados</span>
			</div>

			<!-- Controles -->
			<div class="flex items-center gap-4">
				<div class="flex items-center gap-2">
					<span class="text-sm text-base-content/70 w-30 text-end">Filas por página:</span>
					<select [(ngModel)]="itemsPerPage" (change)="onFilterChange()" class="dselect dselect-bordered dselect-sm w-24">
						<option [ngValue]="10">10</option>
						<option [ngValue]="25">25</option>
						<option [ngValue]="50">50</option>
						<option [ngValue]="100">100</option>
					</select>
				</div>

				<div class="join flex gap-2">
					<button (click)="goToPage(1)" [disabled]="currentPage === 1" class="join-item dbtn dbtn-sm" title="Primera página">
						<span class="material-symbols-outlined text-lg">first_page</span>
					</button>
					<button (click)="previousPage()" [disabled]="currentPage === 1" class="join-item dbtn dbtn-sm" title="Anterior">
						<span class="material-symbols-outlined text-lg">chevron_left</span>
					</button>

					<button class="join-item dbtn dbtn-sm pointer-events-none bg-base-100 font-normal">Página {{ currentPage }} de {{ totalPages }}</button>

					<button (click)="nextPage()" [disabled]="currentPage === totalPages" class="join-item dbtn dbtn-sm" title="Siguiente">
						<span class="material-symbols-outlined text-lg">chevron_right</span>
					</button>
					<button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages" class="join-item dbtn dbtn-sm" title="Última página">
						<span class="material-symbols-outlined text-lg">last_page</span>
					</button>
				</div>
			</div>
		</div>
	}

	@if (data() && !filteredData.length) {
		<div class="flex flex-col items-center justify-center p-8 mt-4 bg-base-100 rounded-lg border border-base-300 text-center">
			<span class="material-symbols-outlined text-6xl text-warning mb-2">search_off</span>
			<h3 class="text-lg font-bold">No se encontraron resultados</h3>
			<p class="text-base-content/70">Intenta ajustar tus filtros de búsqueda.</p>
		</div>
	} @else if (!data()?.length) {
		<div class="flex flex-col items-center justify-center p-12 mt-4 bg-base-100 rounded-lg border border-dashed border-base-300 text-center">
			<span class="material-symbols-outlined text-6xl text-primary mb-4">folder_open</span>
			<h3 class="text-xl font-bold mb-2">No hay datos disponibles</h3>
			<p class="text-base-content/70 mb-6 max-w-md">
				Actualmente no hay registros en esta tabla. Comienza creando uno nuevo para visualizar la información.
			</p>
			<button (click)="createNew()" class="dbtn dbtn-primary">
				<span class="material-symbols-outlined">add</span>
				Crear Nuevo Registro
			</button>
		</div>
	}
</div>
