<main
  class="p-2 w-full h-fit bg-surface-100 border border-surface-300 rounded-lg flex flex-col justify-center dark:bg-surface-800 dark:border-surface-700"
>
  <section>
    <p-button variant="outlined" [severity]="!isHiddenSideBar ? 'primary' : 'danger'" (onClick)="toogleSideBar()" size="small">
      <ng-template #icon>
        <span class="material-symbols-outlined" style="font-size: 1.25rem">{{!isHiddenSideBar ? 'menu' : 'close'}}</span>
      </ng-template>
    </p-button>
  </section>
</main>
