@if (data$.hasValue()) {
	<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6">
		<div class="col-span-2 space-y-6">
			@if (data$.hasValue()) {
				<chart-hourly-production [data]="data$.value()!" class="animate-fade-in-up" style="animation-delay: 100ms"></chart-hourly-production>
			}
		</div>

		<div class="col-span-1">
			@if (data$.hasValue()) {
				<card-group-kpis-data [data]="data$.value()!" class="animate-fade-in-up" style="animation-delay: 300ms"></card-group-kpis-data>
			}
		</div>
		<div class="col-span-2">
			<bar-action-downtime-capture
				[data]="data$.value()"
				(onRefesh)="data$.reload()"
				(onAddMaterialAlert)="showMaterialAlert.set(true)"
				(onAddDowntime)="showDowntimeModal.set(true)"
				(onAddRack)="showRackModal.set(true)"
				(onAddOperator)="showOperatorModal.set(true)"
				class="block mb-6"
			></bar-action-downtime-capture>

			<modal-add-material-alert [(visible)]="showMaterialAlert" (onSave)="onSaveMaterialAlert($event)"></modal-add-material-alert>
			<modal-add-downtime [(visible)]="showDowntimeModal" (onSave)="onSaveDowntime($event)"></modal-add-downtime>
			<modal-add-rack [(visible)]="showRackModal" (onSave)="onSaveRack($event)"></modal-add-rack>

			<p-dialog
				header="Gestión de Operadores"
				[(visible)]="showOperatorModal"
				[modal]="true"
				[style]="{ width: '100%', maxWidth: '450px' }"
				[draggable]="false"
				[resizable]="false"
				[dismissableMask]="true"
				styleClass="p-0"
			>
				<form-add-operator [currentLine]="filters().lineDescription" [currentDate]="filters().startDatetime"></form-add-operator>
			</p-dialog>
		</div>

		<div class="col-span-3">
			<table-hourly-production
				[data]="data$.value()!.partNumberDataProductions"
				class="animate-fade-in-up"
				style="animation-delay: 500ms"
			></table-hourly-production>
		</div>
	</main>
}
