@for (item of modules(); track $index) {
  <a
    class="bg-base-200 border border-base-300 rounded-lg hover:bg-base-100 hover:scale-115 hover:shadow-lg active:bg-base-300 transition-transform duration-200 py-6 flex flex-col items-center"
   [routerLink]="item.route"
  >
    <span
      style="font-size: 2.5rem; font-weight: bold"
      class="material-symbols-outlined text-neutral"
      >{{ item.icon }}</span
    >
    <h2 class="text-xl font-bold text-neutral">
      {{ item.label }}
    </h2>
  </a>


}
