@if (mergedOptions()) {
	<apx-chart
		#chart
		[series]="mergedOptions().series!"
		[chart]="mergedOptions().chart!"
		[xaxis]="mergedOptions().xaxis!"
		[yaxis]="mergedOptions().yaxis!"
		[dataLabels]="mergedOptions().dataLabels!"
		[stroke]="mergedOptions().stroke!"
		[fill]="mergedOptions().fill!"
		[legend]="mergedOptions().legend!"
		[tooltip]="mergedOptions().tooltip!"
		[states]="mergedOptions().states!"
		[grid]="mergedOptions().grid!"
		[plotOptions]="mergedOptions().plotOptions!"
		[labels]="mergedOptions().labels!"
		[colors]="mergedOptions().colors!"
		[responsive]="mergedOptions().responsive!"
		[theme]="mergedOptions().theme!"
		[title]="mergedOptions().title!"
	></apx-chart>
}
