@if (chartOptions()) {
  <apx-chart
    #chart
    [series]="chartOptions().series!"
    [chart]="chartOptions().chart!"
    [xaxis]="chartOptions().xaxis!"
    [yaxis]="chartOptions().yaxis!"
    [dataLabels]="chartOptions().dataLabels!"
    [stroke]="chartOptions().stroke!"
    [fill]="chartOptions().fill!"
    [legend]="chartOptions().legend!"
    [tooltip]="chartOptions().tooltip!"
    [states]="chartOptions().states!"
    [grid]="chartOptions().grid!"
    [plotOptions]="chartOptions().plotOptions!"
    [labels]="chartOptions().labels!"
  ></apx-chart>
}
