@if (!products$.isLoading()) {
  @if (products$.hasValue()) {
    <table-crud 
      [data]="products$.value()!" 
      [columns]="columns" 
      (create)="openCreateModal()" 
      (edit)="openEditModal($event)" 
      (delete)="onDelete($event)">
    </table-crud>
  }
} @else {
  <div class="flex flex-col items-center justify-center h-full">
    <span class="loading loading-spinner loading-lg"></span>
    <span class="text-lg font-semibold text-base-content">Cargando datos...</span>
  </div>
}

<p-dialog
  [(visible)]="dialogVisible"
  [modal]="true"
  [style]="{ width: '450px' }"
  [header]="isEditMode ? 'Editar Producto' : 'Agregar Nuevo Producto'"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid bg-surface-50 dark:bg-surface-900"
>
  <div [formGroup]="form" class="flex flex-col gap-4 mt-2">
    <div class="flex flex-col gap-2">
      <label for="productDescription" class="font-medium text-surface-600 dark:text-surface-200">Descripción</label>
      <input pInputText id="productDescription" formControlName="productDescription" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="productCategoryId" class="font-medium text-surface-600 dark:text-surface-200">Categoría</label>
      <p-select 
        filter="true"
        id="productCategoryId" 
        formControlName="productCategoryId" 
        [options]="categories$.value() || []" 
        optionLabel="productCategoryDescription" 
        optionValue="id" 
        placeholder="Seleccione Categoría"
        appendTo="body">
      </p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="costTypeId" class="font-medium text-surface-600 dark:text-surface-200">Tipo de Costo</label>
      <p-select 
        id="costTypeId" 
        formControlName="costTypeId" 
        [options]="costTypes$.value() || []" 
        optionLabel="costTypeDescription" 
        optionValue="id" 
        placeholder="Seleccione Tipo de Costo"
        appendTo="body">
      </p-select>
    </div>

    <div class="flex flex-col gap-3 mt-2 bg-surface-50 dark:bg-surface-800 p-3 rounded-lg border border-surface-200 dark:border-surface-700">
      <div class="flex items-center justify-between">
        <label for="active" class="font-medium text-surface-700 dark:text-surface-100">Activo</label>
        <p-toggleSwitch inputId="active" formControlName="active"></p-toggleSwitch>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary" (onClick)="closeModal()"></p-button>
      <p-button label="Guardar" icon="pi pi-check" severity="primary" (onClick)="save()" [disabled]="form.invalid"></p-button>
    </div>
  </ng-template>
</p-dialog>
