<div>
	@if (!partNumber$.isLoading()) {
		@if (partNumber$.hasValue()) {
			<!-- <h1 class="text-2xl font-bold mb-4">Catalogo de Modelos</h1> -->
			<table-crud
				[data]="partNumber$.value()"
				[columns]="columns"
				(create)="createPartNumber()"
				(edit)="editPartNumber($event)"
				(delete)="deletePartNumber($event)"
			></table-crud>
		}
	} @else {
		<div class="flex flex-col items-center justify-center h-full">
			<span class="loading loading-spinner loading-lg"></span>
			<span class="text-lg font-semibold text-base-content">Cargando datos...</span>
		</div>
	}
</div>

<p-dialog
	[(visible)]="dialogVisible"
	[modal]="true"
	[style]="{ width: '500px' }"
	[header]="isEditMode ? 'Editar Part Number' : 'Agregar Nuevo Part Number'"
	[draggable]="false"
	[resizable]="false"
	styleClass="p-fluid bg-surface-50 dark:bg-surface-900"
>
	<div [formGroup]="form" class="flex flex-col gap-4 mt-2">
		<div class="flex flex-col gap-2">
			<label for="partNumberName" class="font-medium text-surface-600 dark:text-surface-200">Nombre</label>
			<input pInputText id="partNumberName" type="text" formControlName="partNumberName" class="w-full" />
		</div>

		<div class="flex flex-col gap-2">
			<label for="partNumberDescription" class="font-medium text-surface-600 dark:text-surface-200">Descripción</label>
			<input pInputText id="partNumberDescription" type="text" formControlName="partNumberDescription" class="w-full" />
		</div>

		<div class="flex flex-col gap-3 mt-2 bg-surface-50 dark:bg-surface-800 p-3 rounded-lg border border-surface-200 dark:border-surface-700">
			<div class="flex align-items-center justify-content-between">
				<label for="active" class="font-medium text-surface-700 dark:text-surface-100">Activo</label>
				<p-toggleSwitch inputId="active" formControlName="active"></p-toggleSwitch>
			</div>
		</div>
	</div>

	<ng-template pTemplate="footer">
		<div class="flex justify-end gap-2 mt-4">
			<p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary" (onClick)="closeModal()"></p-button>
			<p-button label="Guardar" icon="pi pi-check" severity="primary" (onClick)="save()" [disabled]="form.invalid"></p-button>
		</div>
	</ng-template>
</p-dialog>
