
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark-mode, .dark-mode *)); 

@theme {
  --font-roboto: "Roboto", sans-serif; 
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  display: inline-block;
  direction: ltr;
}

