@if (options(); as opts) {
  <!-- Título y SNP -->
  <div class="flex justify-between items-start mb-2">
    <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100">{{ opts.component +' - '+ opts.partNumber }}</h3>
    <span class="text-sm font-roboto bg-gray-200 dark:bg-gray-700 dark:text-gray-200 px-2 py-1 rounded">{{ opts.line + ' - ' + opts.model}}</span>
  </div>

  <!-- Descripción -->
  <p class="text-sm text-gray-600 dark:text-gray-400 mb-3">{{ opts.description }}</p>

  <!-- Barra de Tiempo -->
  @if (opts.status === 'Pendiente') {
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mb-4">
      <div 
        class="h-2.5 rounded-full transition-all duration-500 ease-linear"
        [ngClass]="progressBarColor()"
        [style.width.%]="progress()">
      </div>
    </div>
  }

  <!-- Detalles en Grid -->
  <div class="flex gap-x-4 gap-y-2 text-xs text-gray-500 dark:text-gray-400 border-t border-gray-200 dark:border-gray-600 pt-3 mt-3 justify-between">
    <section class="w-full flex gap-2">
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined" style="font-size: 1.5rem;">pin_drop</span>
          <span>{{ opts.location }}</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined" style="font-size: 1.5rem;">category</span>
          <span>{{ opts.model }}</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined" style="font-size: 1.5rem;">calendar_today</span>
          <span>{{ opts.creationDate | date:'short' }}</span>
        </div>
    </section>
    <p-button class="justify-self-end" label="Completar"  size="small" severity="success" [rounded]="true"></p-button>
  </div>
}
<!--  -->
@else {
  <div class="flex flex-col items-center justify-center h-full text-gray-500 dark:text-gray-400">
    <span class="material-symbols-outlined" style="font-size: 4rem"> info </span>
    <p class="text-lg mt-2">No hay alertas disponibles.</p>
  </div>

}